:root {
    --white: hsl(0, 0%, 100%);
    --gray-100: hsl(240, 9%, 89%);
    --gray-300: hsl(240, 7%, 78%);
    --gray-400: hsl(240, 6%, 58%);
    --gray-600: hsl(240, 6%, 21%);
    --gray-700: hsl(240, 6%, 17%);
    --gray-800: hsl(240, 6%, 13%);
    --gray-900: hsl(240, 5%, 7%);
  
    --green-500: hsl(162, 100%, 26%);

    font-size: 62.5%; /* 1rem = 10px */
}

*, *::after, *::before {
    margin: 0;
    padding: 0;
    
    box-sizing: border-box;

    font-size: 1.6rem;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: var(--gray-900);
    color: var(--gray-100);

    -webkit-font-smoothing: antialiased;
}